html,
body {
    background: rgba(43, 255, 0, 0.02)
}

nav {
    background: rgba(43, 255, 0, 0.2);
    width: 10em;
    border: .2rem solid black;
    border-radius: 10px;
    margin: 0 2% 2% 2%;
    font: 16px 'Trebuchet MS', Arial, sans-serif;
    line-height: 1.2em;
    letter-spacing: .05em;
}

img {
    width: 300px;
    border: .2rem solid black;
    padding: .3rem;
    border-radius: 25px;
}

article {
    margin: 0 4%;
}

h1 {
    text-align: center;
    background: rgba(75, 107, 71, 0.75);
    color: white;
    width: 30%;
    margin: 1% auto;
    border: .2rem solid black;
    border-radius: 25px;
    padding: .5rem 0;
}